.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}
.hotel-grid {
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.hotel-info {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
}
.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 0;
}
.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}
.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.hotel-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.hotel-description {
  font-size: 12px;
  line-height: 15px;
}
.hotel-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.offer {
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  background-color: #ec1f46;
  color: #FFFFFF;
  padding: 3px 9px;
  border-radius: 3px;
}

.stars {
  flex-basis: 100%;
}

.rating {
  width: 65px;
  height: 45px;
  text-align: center;
  background-color: #ec1f46;
  border-radius: 4px;
  color: #FFFFFF;
}
.rating__text {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}
.rating__counter {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.swiper {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 8px;
}
.swiper::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 225, 0.128) 100%);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider {
  width: 728px;
  height: 450px;
}
.slider-button {
  position: absolute;
  z-index: 99;
  background-color: transparent;
  top: 50%;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}
.slider-button-next {
  right: 18px;
}
.slider-button-prev {
  left: 18px;
}

.booking {
  background-color: #0a223d;
  color: #FFFFFF;
  min-height: 210px;
  border-radius: 8px;
  padding: 28px;
}
.booking__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}
.booking__price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.booking__start {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.booking__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.booking__per-room {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.booking__room {
  margin-top: 4px;
}
.booking__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.booking__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-left: 9px;
}
.booking__call-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}
.booking__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking_num {
  margin-left: 8px;
}
.booking__button {
  width: 100%;
  min-height: 45px;
  background-color: #ec1f46;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}

/*# sourceMappingURL=hotel.css.map */
